{% extends "AnarBlogPanelBundle:Desktop:index.html.twig" %}

{% block csses %}

{% endblock %}

{% block Container %}
<div class="col-md-11 col-sm-11 margin-left-45 tab_content_box margin-top-25 margin-bottom-25">
    <div class="row">
        <div class="col-md-6 col-sm-6 pull-right tittle_tab_content">
            <i class="fa fa-list-alt"></i>
            <span>لیست لینک ها</span>
        </div>
        <div class="col-md-1 col-sm-1 pull-left text-left">
            <i onclick="location.href = '{{ path("anar_blog_panel_home") }}'" class="glyphicon glyphicon-remove cursor_pointer" style="cursor: pointer"></i>
        </div>
    </div>
    <hr id="cutter">
    <div class="row">
        <div class="col-md-12 col-sm-12 margin-top-10">
            <table class="records_list">
                <tr class="text-center">
                    <td>{{ 'title'|trans }}</td>
                    <td>{{ 'description'|trans }}</td>
                    <td>{{ 'url'|trans }}</td>
                    <td>{{ 'position'|trans }}</td>
                    <td></td>
                </tr>
                {% set i = 0 %}
                {% for link in links %}
                    <tr data-id="{{ link.id }}" class="text-center {% if i % 2 == 0 %}t1{% else %}t2{% endif %}">
                        <td>{{ link.title }}</td>
                        <td>{{ link.description }}</td>
                        <td>{{ link.url }}</td>
                        <td>{{ link.position }}</td>
                        <td>
                            <button data-id="{{ link.id }}" style="padding: 5px" class="R_butt_green edit_link btn">ویرایش</button>
                            <button data-id="{{ link.id }}" style="padding: 5px" class="R_butt_red delete_link btn">حذف</button>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock Container %}

{% block scripts %}
    {{ parent() }}
    <script>
        $('.current_ancestor').removeClass('minus').addClass('open');
        $('.current_ancestor .menu-items i').attr('class','fa fa-minus-square-o');
        $('.delete_link').click(function(){
            var id = $(this).attr('data-id');
            var path = Routing.generate('anar_link_backend_delete',{ 'id': id });
            alert(path);
            $.ajax({
                url: path,
                type: "post",
                data: {
                    token: '{{ token }}'
                },
                success: function(data){
                    Alert.render('حذف با موفقیت انجام شد!');
                    $('tr[data-id='+ id +']').remove();
                },
                error: function(data){
                    Alert.render(data.status['message']);
                }
            });
        });

        $('.edit_link').click(function(){
            var id = $(this).attr('data-id');
            var path = Routing.generate('anar_link_backend_edit',{ 'id': id });
            location.href = path;
        });
    </script>
{% endblock scripts %}