{% extends "AnarBlogPanelBundle:Desktop:index.html.twig" %}

{% block csses %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/bootstrap-switch-metro-rtl.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarblogpanel/plugins/DatePicker/pwt-datepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarblogpanel/plugins/bootstrap-fileupload/bootstrap-fileupload.css') }}">
    <style>
        .select{
            width: 100%;
        }

        .select2-arrow b{
            background-position: 5px 4px !important;
        }
    </style>
{% endblock %}

{% block Container %}
<div class="col-md-11 col-sm-11 margin-left-45 tab_content_box margin-top-25 margin-bottom-25">
    <div class="row">
        <div class="col-md-6 col-sm-6 pull-right tittle_tab_content">
            <i class="fa fa-list-alt"></i>
            {% if action == 'create' %}<span>ایجاد دسته بندی لینک</span>{% endif %}
            {% if action == 'update' %}<span>ویرایش دسته بندی لینک</span>{% endif %}
        </div>
        <div class="col-md-1 col-sm-1 pull-left text-left">
            <i onclick="location.href = '{{ path("anar_blog_panel_home") }}'" class="glyphicon glyphicon-remove cursor_pointer" style="cursor: pointer"></i>
        </div>
    </div>
    <hr id="cutter">
    <div class="row">
        <div class="col-md-8 col-sm-8 pull-right margin-top-10">
            {{ form_start(form, { 'attr': {'class': 'link_category_form'}}) }}
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.name, '', {'label_attr': {'class': 'col-md-2 col-sm-2 pull-right control-label text-left'} }) }}
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.name,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    {{ form_label(form.position, '', {'label_attr': {'class': 'col-md-2 col-sm-2 pull-right control-label text-left'} }) }}
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.position,{ 'attr' : {'class':'select'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <div class="col-md-2 col-sm-2 pull-right control-label text-left"></div>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.submit,{ 'attr' : {'class':'R_butt_blue btn'} }) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $('.select').select2();
    </script>
{% endblock scripts %}
