{% extends "AnarBlogPanelBundle:Desktop:index.html.twig" %}

{% block csses %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarblogpanel/css/blogpanel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarblogpanel/plugins/bootstrap-fileupload/bootstrap-fileupload.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarblogpanel/plugins/DatePicker/pwt-datepicker.css') }}">

    <style>
        .fa.fa-list-alt{
            vertical-align: -4px;
        }

        .tittle_tab_content{
            font-size: 16pt;
        }

        .select{
            width: 100%;
        }

        .select1{
            width: 100%;
        }

        .select2-arrow b{
            background-position: 5px 4px !important;
        }
    </style>
{% endblock csses %}

{% block Container %}
<div class="col-md-11 col-sm-11 margin-left-45 tab_content_box margin-top-25 margin-bottom-25">
    <div class="row">
        <div class="col-md-6 col-sm-6 pull-right tittle_tab_content">
            <i class="fa fa-list-alt"></i>
            <span>ویرایش پروفایل</span>
        </div>
        <div class="col-md-1 col-sm-1 pull-left text-left">
            <i onclick="location.href = '{{ path("anar_blog_panel_home") }}'" class="glyphicon glyphicon-remove cursor_pointer" style="cursor: pointer"></i>
        </div>
    </div>
    <hr id="cutter">
    <div class="row">
        {% if form.vars.errors|length > 0 %}
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-danger alert-dismissable">
                    {{ form_errors(form) }}
                    <i class="glyphicon glyphicon-remove cursor_pointer pull-left" data-dismiss="alert"></i>
                </div>
            </div>
        {% endif %}
        <div class="col-md-8 col-sm-8 pull-right margin-top-10">
            <script>
                var university = '{{ form_widget(form.educations.vars.prototype.university,{ 'attr' : {'class':'form-control'} }) }}';
                var city = '{{ form_widget(form.educations.vars.prototype.city,{ 'attr' : {'class':'form-control'} }) }}';
                var country = '{{ form_widget(form.educations.vars.prototype.country,{ 'attr' : {'class':'form-control'} }) }}';
                var startDate = '{{ form_widget(form.educations.vars.prototype.startDate,{ 'attr' : {'class':'form-control s_d'} }) }}';
                var endDate = '{{ form_widget(form.educations.vars.prototype.endDate,{ 'attr' : {'class':'form-control s_d'} }) }}';
                var grade = '{{ form_widget(form.educations.vars.prototype.grade,{ 'attr' : {'class':'select1'} }) }}';
            </script>
            {{ form_start(form, { 'attr': {'class': 'update_profile'}}) }}
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">تلفن</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.telephone,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">ایمیل</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.email,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">تاریخ تولد</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.birthday,{ 'attr' : {'class':'form-control s_d'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">وب سایت</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.website,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">عکس کاربری</label>
                    <div class="col-md-9 col-sm-9">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div id="photo_show" class="fileupload-new thumbnail" style="width: 184px; height: 142px;">
                                <img src="{{ vich_uploader_asset(profile, 'avatarFile') }}" alt="" />
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div>
                                <span class="btn backgroundBlue colorWhite btn-file">
                                <span class="fileupload-new"><i class="fa fa-paper-clip"></i> انتخاب تصویر </span>
                                <span class="fileupload-exists"><i class="fa fa-undo"></i> تغییر</span>
                                {{ form_widget(form.avatarFile) }}
                                </span>
                                <a href="#" class="btn backgroundRed colorWhite fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> حذف</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">زندگی نامه</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.bio,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">تاریخ شروع کار</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.jobStartedAt,{ 'attr' : {'class':'form-control s_d'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">مهارت ها</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.skill,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">علاقه مندی ها</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.favorite,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">مقالات</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.article,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10 education-form-parent">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left">تحصیلات</label>
                    <div class="col-md-9 col-sm-9">
                        <span class="add-education-btn btn"><i class="fa fa-plus"></i> </span>

                        <div class="education-form">
                        {% for education in form.educations %}
                            <div class="row">
                                {{ form_label(education.university, '', { 'label_attr' : {'class':'col-md-3 col-sm-3 text-left pull-right'} }) }}
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(education.university,{ 'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                            <div class="row margin-top-5">
                                {{ form_label(education.city, '', { 'label_attr' : {'class':'col-md-3 col-sm-3 text-left pull-right'} }) }}
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(education.city,{ 'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                            <div class="row margin-top-5">
                                {{ form_label(education.country, '', { 'label_attr' : {'class':'col-md-3 col-sm-3 text-left pull-right'} }) }}
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(education.country,{ 'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                            <div class="row margin-top-5">
                                {{ form_label(education.startDate, '', { 'label_attr' : {'class':'col-md-3 col-sm-3 text-left pull-right'} }) }}
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(education.startDate,{ 'attr' : {'class':'form-control s_d'} }) }}
                                </div>
                            </div>
                            <div class="row margin-top-5">
                                {{ form_label(education.endDate, '', { 'label_attr' : {'class':'col-md-3 col-sm-3 text-left pull-right'} }) }}
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(education.endDate,{ 'attr' : {'class':'form-control s_d'} }) }}
                                </div>
                            </div>
                            <div class="row margin-top-5">
                                {{ form_label(education.grade, '', { 'label_attr' : {'class':'col-md-3 col-sm-3 text-left pull-right'} }) }}
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(education.grade,{ 'attr' : {'class':'select'} }) }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 pull-right control-label text-left"></div>
                <div class="col-md-9 col-sm-9 add-more-education"></div>
            </div>
            <div class="row margin-top-10" id="my___row">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 pull-right control-label text-left"></label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn R_butt_blue', 'onclick': 'submit_search_form(event)'}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="row" style="min-height: 38px">
                <span class="">{{ form_errors(form.telephone) }}</span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class="">{{ form_errors(form.email) }}</span>
            </div>
            <div class="row margin-top-10 form_fields_message" style="min-height: 38px">
                <span class="">{{ form_errors(form.birthday) }}</span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class="">{{ form_errors(form.website) }}</span>
            </div>
            <div class="row margin-top-10" style="min-height: 180px">
                <span class="">{{ form_errors(form.avatarFile) }}</span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class="">{{ form_errors(form.bio) }}</span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class="">{{ form_errors(form.jobStartedAt) }}</span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class="">{{ form_errors(form.skill) }}</span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class="">{{ form_errors(form.favorite) }}</span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class="">{{ form_errors(form.article) }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock Container %}

{% block scripts %}

<script src="{{ asset('bundles/anarblogpanel/plugins/bootstrap-fileupload/bootstrap-fileupload.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/anarblogpanel/plugins/DatePicker/pwt-date.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/anarblogpanel/plugins/DatePicker/pwt-datepicker.js') }}"></script>
    <script>
        $('.s_d').val('').pDatepicker();


        $(".select").select2({
            placeholder: "انتخاب کنید"
        });

        $('.current_ancestor').removeClass('minus').addClass('open');
        $('.current_ancestor .menu-items i').attr('class','fa fa-minus-square-o');

        var count = {{ form.educations|length }};
        $('.add-education-btn').click(function(){
            city = city.replace('_name_',count);
            country = country.replace('_name_',count);
            startDate = startDate.replace('_name_',count);
            endDate = endDate.replace('_name_',count);
            university = university.replace('_name_',count);
            grade = grade.replace('_name_',count);
            var html_str = ''+
                    '<div class="add-education-form">' +
                        '<div class="close-additional-box">'+
                            '<i class="glyphicon glyphicon-remove"></i>'+
                        '</div>' +
                        '<div class="row margin-top-20">' +
                            '{{ form_label(form.educations.vars.prototype.university, '', {'label_attr' : {'class': 'col-md-3 col-sm-3 pull-right text-left'} } ) }} ' +
                            '<div class="col-md-9 col-sm-9">'+ university +'</div> ' +
                        '</div> '+
                        '<div class="row margin-top-10">' +
                            '{{ form_label(form.educations.vars.prototype.city, '', {'label_attr' : {'class': 'col-md-3 col-sm-3 pull-right text-left'} } ) }} ' +
                            '<div class="col-md-9 col-sm-9">'+ city +'</div> ' +
                        '</div> '+
                        '<div class="row margin-top-10">' +
                            '{{ form_label(form.educations.vars.prototype.country, '', {'label_attr' : {'class': 'col-md-3 col-sm-3 pull-right text-left'} } ) }} ' +
                            '<div class="col-md-9 col-sm-9">'+ country +'</div> ' +
                        '</div> '+
                        '<div class="row margin-top-10">' +
                            '<div class="col-md-3 col-sm-3 pull-right text-left">تاریخ شروع</div> ' +
                            '<div class="col-md-9 col-sm-9">'+ startDate +'</div> ' +
                        '</div> '+
                        '<div class="row margin-top-10">' +
                            '<div class="col-md-3 col-sm-3 pull-right text-left">تاریخ پایان</div> ' +
                            '<div class="col-md-9 col-sm-9">'+ endDate +'</div> ' +
                        '</div> '+
                        '<div class="row margin-top-10">' +
                            '{{ form_label(form.educations.vars.prototype.grade, '', {'label_attr' : {'class': 'col-md-3 col-sm-3 pull-right text-left'} } ) }} ' +
                            '<div class="col-md-9 col-sm-9">'+ grade +'</div> ' +
                        '</div> '+
                    '</div> ';
            $('.add-more-education').append(html_str);
//            $(".select1").select2("destroy").select2({
//                placeholder: "?????? ????"
//            });
            count = count + 1;
        });

        $(document).on('click','.close-additional-box', function(){
            $(this).parent().remove();
            count = count - 1;
        });
    </script>
{% endblock scripts %}