{% extends "AnarSuperPanelBundle:Desktop:home.html.twig" %}

{% block csses %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/super_panel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('static/jstree/dist/themes/default/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/plugins/Alert/alert.css') }}">
{% endblock csses %}

{% block container %}

{% for message in app.session.getFlashBag().get('info') %}
    {{ message|trans }}
{% endfor %}

{% for message in app.session.getFlashBag().get('errors') %}
    {{ message|trans }}
{% endfor %}

{% for message in app.session.getFlashBag().get('warning') %}
    {{ message|trans }}
{% endfor %}


<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 tab_content_box margin-top-25 margin-bottom-25">
    <div class="row">
        <div class="col-md-6 col-sm-6 tittle_tab_content">
            <i class="fa fa-sitemap"></i>
            <span>مدیریت وبلاگ ها</span>
        </div>
        <div class="col-md-1 col-sm-1 pull-left text-left">
            <i onclick="location.href = '{{ path("anar_super_panel_home") }}'" class="glyphicon glyphicon-remove cursor_pointer" style="cursor: pointer"></i>
        </div>
    </div>
    <hr id="cutter">
    <div class="row">
        <div class="col-md-12 col-sm-12 margin-top-10">
            <button type="button" class="btn-primary-costum" onclick="location.href = '{{ path("anar_super_panel_blog_new") }}'">
                <i class="fa fa-plus"></i> ایجاد وبلاگ جدید
            </button>
        </div>
        <div class="col-md-12 col-sm-12 margin-top-10">
            <div id="jstree_div"></div>
        </div>
        <div class="col-md-12 col-sm-12 managers_list margin-top-25">
            <table class="records_list display-none">
                <tr class="text-center">
                    <td class="col-md-2 col-sm-2">نام کاربری</td>
                    <td class="col-md-2 col-sm-2">ایمیل</td>
                    <td class="col-md-2 col-sm-2">نام</td>
                    <td class="col-md-2 col-sm-2">نام خانوادگی</td>
                    <td class="col-md-2 col-sm-2">شماره پرسنلی</td>
                    <td class="col-md-2 col-sm-2"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('static/jstree/dist/jstree.min.js') }}"></script>
    <script src="{{ asset('bundles/anarsuperpanel/plugins/Alert/alert.js') }}"></script>

    <script>

        $("#jstree_div").jstree({
            'core' : {
                'data' : {{ tree|raw }},
                'strings' : {
                    'Loading ...' : 'در حال بارگذاری لطفا صبر نمایید ...<sub>ممکن است چند ثانیه طول بکشید</sub>'
                },
                'themes' : {
                    "variant" : "large"
                }
            },
            'checkbox' : {
                'three_state': false,
                'keep_selected_style' : false
            },
            "plugins": ["themes", "html_data", "ui", "crrm", "contextmenu"],
            contextmenu: {items: customMenu}
        }).on('loaded.jstree', function() {
            $(this).jstree('open_all');
        });
        var current_blog;
        function customMenu(node){
            // The default set of all items
            var items = {
                renameItem: { // The "rename" menu item
                    "label": "ویرایش",
                    "icon": "glyphicon glyphicon-edit",
                    action: function () {
                        var check_path = Routing.generate('anar_super_panel_blog_edit',{'id': node.id});
                        location.href = check_path;
                    }
                },
                managersItem: { // The "rename" menu item
                    "label": "مدیران",
                    "icon": "glyphicon glyphicon-user",
                    action: function () {
                        $('.t1').remove();
                        $('.t2').remove();
                        current_blog = node.id;
                        var check_path = Routing.generate('anar_super_panel_blog_admins',{'id': node.id});
                        $.ajax({
                            url: check_path,
                            type: "post",
                            data: {'token': '{{ token }}'},
                            error: function(message){
                                alert(123456);
                                Alert.render("message : "+message);
                            },
                            success: function(data){
                                for(var i = 0; i < data.response['users'].length; i++){
                                    var j = i + 1;
                                    var manager_table = '' +
                                        '<tr data-id="' + data.response['users'][i]['id'] + '" class="text-center t'+ j +'">' +
                                            '<td class="col-md-2 col-sm-2"> '+ data.response['users'][i]['username'] +' </td> ' +
                                            '<td class="col-md-2 col-sm-2"> '+ data.response['users'][i]['email'] +' </td> ' +
                                            '<td class="col-md-2 col-sm-2"> '+ data.response['users'][i]['fname'] +' </td> ' +
                                            '<td class="col-md-2 col-sm-2"> '+ data.response['users'][i]['lname'] +' </td> ' +
                                            '<td class="col-md-2 col-sm-2"> '+ data.response['users'][i]['staffCode'] +' </td> ' +
                                            '<td class="col-md-2 col-sm-2"><span data-id="' + data.response['users'][i]['id'] + '" class="R_butt_red delete_user">حذف</span></td> ' +
                                        '</tr>';
                                    $('.records_list').append(manager_table);
                                    $('.records_list').css("display",'table');
                                }
                            }
                        });
                    }
                },
                deleteItem: { // The "delete" menu item
                    "label": "حذف",
                    "icon": "glyphicon glyphicon-remove",
                    action: function () {
                        var check_path = Routing.generate('anar_super_panel_blog_delete',{'id': node.id});
                        $.ajax({
                            url: check_path,
                            type: "post",
                            data: {'token': '{{ token }}'},
                            error: function(message){
                                alert(123456);
                                Alert.render("message : "+message);
                            },
                            success: function(data){
                                if(data.status['code'] == 200){
                                    Alert.render(JSON.stringify(data.status['message']));
                                    var check_path1 = "{{ path('anar_super_panel_blog_index',{'_format': 'json'}) }}";
                                    $.ajax({
                                        url: check_path1,
                                        type: "get",
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert(xhr.status);
                                            alert(thrownError);
                                        },
                                        success: function(data1){
                                            $('#jstree_div').jstree("destroy");
                                            location.reload();
                                        }
                                    })
                                }
                                else{
                                    Alert.render(data.status['message']);
                                }
                            }
                        });
                    }
                }
            };

//            if ($(node).hasClass("folder")) {
//                // Delete the "delete" menu item
//                delete items.deleteItem;
//            }

            return items;
        }

        $(document).on('click','.delete_user',function(){
            var id = $(this).attr('data-id');
            var delete_path = Routing.generate('anar_super_panel_blog_admins_delete',{'id': current_blog});
            $.ajax({
                url: delete_path,
                type:"post",
                data:{
                    'userId': id
                },
                error: function(message){
                    Alert.render("message : " + JSON.parse(message.responseText).status.message);
                },
                success: function(data){
                    if(data.status['code'] == 200){
                        $(".records_list tr[data-id = "+id+"]").remove();
                    }
                }
            });
        });
    </script>
{% endblock %}