{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contact list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Website</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.website }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    "{{ token }}"
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul>
    </ul>
    {% endblock %}
