{% set blog  = blogManager.getBlog() %}
{% set blogs = blogManager.getUserBlogs() %}
<!doctype html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <title>{{ blog.getTitle() }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#----------------------commonStyles----------------------#}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/addFonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/commonStyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('static/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('static/bootstrap/dist/css/bootstrap-theme.css') }}">
    {#<link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrapV3-2-0/css/bootstrapPersianNormailze.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/jstreeV3-0-4/themes/default/style.css') }}">
    {#<link rel="stylesheet" type="text/css" href="{{ asset('plugins/tinyNotice/FlatTheme.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/datepicker/pwt-datepicker.css') }}">
    {#----------------------/commonStyles----------------------#}
    {#----------------------PrivateStyles----------------------#}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarblogpanel/css/privateStyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarblogpanel/css/blogpanel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarblogpanel/css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/plugins/Alert/alert.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/select2_metro_rtl.css') }}">
    {#----------------------/PrivateStyles----------------------#}

    {% block csses %}
    {% endblock csses %}

</head>

<body>
<!-----------------wrap----------------->
{% block Header %}

<div id="rp-toolbarWrap">
    <div id="rp-logo"></div>


    <ul>
        <li>
            <a>
                <i class="fa fa-user"></i>
                <span class="rp-toolbarElementLablel">{{ app.user.getFname() }} {{  app.user.getLname() }}</span>
                <i class="fa fa-sort-down"></i>
            </a>

            <ul>
                <li><i class="fa fa-cog"></i> <span>تنظیمات کاربری</span></li>
                <li><i class="fa fa-power-off"></i> <a href="{{ path('anar_blog_panel_logout') }}"><span>خروج از سیستم</span></a></li>
            </ul>
        </li>
        <li>
            <a>
                <i class="fa fa-exchange"></i>
                <span class="rp-toolbarElementLablel">تغییر نقش</span>
                <i class="fa fa-sort-down"></i>
            </a>
            <ul>
                {%  for userBlog in blogs %}

                    <li><a href="{{ path('anar_blog_panel_home_blog', {'blogName': userBlog.name}) }}">{{ userBlog.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li data-URL="ajaxUrlComments" role="appLinke"><i class="fa fa-comment"></i> <span class="badge">12</span></li>
        <li data-URL="ajaxUrlPlea" role="appLinke"><i class="fa fa-envelope"></i> <span class="badge">9</span></li>
    </ul>


</div>
{% endblock Header %}

{% block Sidebar %}
<div id="rp-menuWrap">
    <div id="rp-nowRoleShowerWrap"><i class="fa fa-bars"></i><i class="fa fa-desktop"></i>&nbsp;<span>{{ blog.getTitle() }}</span>
    </div>
        {% set options = {'leaf_class': 'leaf', 'branch_class': 'branch', 'template': 'AnarBlogPanelBundle:Menu:BlogMenu.html.twig'} %}
        {{ knp_menu_render('AnarBlogPanelBundle:Builder:adminMenu', options) }}
</div>
{% endblock Sidebar %}

<!-----------------wrap----------------->
<div id="rp-boxWrap">
    {% block Container %}
    <div id="rp-contentWrap">
        <i class="fa fa-times" id="rp-contencClose"></i>

        <div id="rp-contentContainer"></div>
    </div>
    <!-----------------wrap----------------->
    <div id="rp-desktopWrap">

        <div class="rp-shower">
            <i class="rp-iconLabel fa fa-file"><span></span></i>
            <span class="rp-showerTitr">کل مطالب</span>
            <span class="rp-showerNumber" id="desktop_NumOfUser">980</span>
        </div>

        <div class="rp-shower">
            <i class="rp-iconLabel fa fa-copy"><span></span></i>
            <span class="rp-showerTitr">مطالب منقضی</span>
            <span class="rp-showerNumber" id="desktop_NumOfUser">150</span>
        </div>

        <div class="rp-shower rp-goToDown">
            <i class="rp-iconLabel fa fa-check-circle-o"><span></span></i>
            <span class="rp-showerTitr">جعبه عناوین</span>
            <span class="rp-showerNumber" id="desktop_NumOfUser">12</span>
        </div>

        <div class="rp-shower">
            <i class="rp-iconLabel fa fa-chain"><span></span></i>
            <span class="rp-showerTitr">پیوندها</span>
            <span class="rp-showerNumber" id="desktop_NumOfUser">32</span>
        </div>

        <div id="rp-clockWrap">
            <time></time>
            <hr>
            <i class="fa fa-calendar"></i>
            <span></span>
        </div>

        <div id="rp-conections" class="rp-goToDown">
            <div id="rp-topic">
                <i class="fa  fa-comment-o"></i>
                <span>ارتباطات<sup>[فعال]</sup></span>
            </div>
            <div class="rp-tabs" style="background-color:#535353;">
                <i class="fa fa-inbox"></i>
                <span class="rp-showerTitr">کل پیام ها</span>
                <span class="rp-showerNumber">988</span>
            </div>
            <div class="rp-tabs">
                <i class="fa fa-archive"></i>
                <span class="rp-showerTitr">خوانده نشده</span>
                <span class="rp-showerNumber">24</span>
            </div>
        </div>

        <div id="rp-week">
            <i class="fa  fa-list-alt"></i>
            <span>برنامه هفتگی</span>
        </div>

        <div class="rp-comment">
            <i class="fa fa-envelope-o"></i>
            <span class="rp-showerTitr">کل نظرات</span>
            <span class="rp-showerNumber">330</span>
        </div>

        <div class="rp-comment rp-goToDown">
            <i class="fa fa-envelope-o"></i>
            <span class="rp-showerTitr">خوانده نشده</span>
            <span class="rp-showerNumber">22</span>
        </div>

    </div>
    {% endblock Container %}
</div>
{#----------------------commonScripts----------------------#}
<script src="{{ asset('static/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('static/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ asset('static/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/anarsuperpanel/plugins/Alert/alert.js') }}"></script>
<script src="{{ asset('bundles/anarsuperpanel/js/select2.min.js') }}"></script>
<script>
    var basePath = "{{ app.request.getUriForPath('') }}";
</script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ asset('bundles/anarblogpanel/js/routes.js') }}"></script>

<script src="{{ asset('bundles/anarblogpanel/js/privateActions.js') }}"></script>
{#<script src="{{ asset('plugins/datepicker/pwt-date.js') }}"></script>#}
{#<script src="{{ asset('plugins/datepicker/pwt-datepicker.js') }}"></script>#}

{#<script src="{{ asset('plugins/jstreeV3-0-4/jstree.min.js') }}"></script>#}
{#<script src="{{ asset('bundles/anarblogpanel/js/jquery.nicescroll.min.js') }}"></script>#}
{#<script src="{{ asset('plugins/tinyNotice/tinyNotice.js') }}"></script>#}
{#<script src="{{ asset('scripts/commonActions.js') }}"></script>#}
{#----------------------/commonScripts----------------------#}
{#----------------------PrivateScripts----------------------#}
<script>
//    var currentNode = '';
    $('.branch').addClass('minus');
    $(document).on('click','.menu-items', function(e){
//        var elm = $(e.target);
        var data_name = $(this).attr('data-name');
        $('.menu_level_1[data-name='+data_name+']').slideToggle(600);
//        var parent = elm.parent();
//        if(parent.hasClass('minus')){
//            $('.open .menu_level_1').slideToggle(600);
//            $('.open').removeClass('open').addClass('minus');
//            parent.removeClass('minus').addClass('open');
//            $('.fa.fa-minus-square-o').attr('class','fa fa-plus-square-o');
//            $('.menu_level_1', $(this)).slideToggle(600);
//            $('.menu-items i', parent).attr('class','fa fa-minus-square-o');
//        }
//        else if(parent.hasClass('open')) {
//            parent.removeClass('open').addClass('minus');
////            $('.menu_level_1', parent).slideToggle(600);
//            $('.menu-items i', parent).attr('class','fa fa-plus-square-o');
//        }
    });
</script>

{% block scripts %}
<script>
    {#// variables#}
    var serverTimestamp = 1408024511582;
    var TodayDate = " چهارشنبه 1393/7/4";
    var desktop_NumOfRoles = 245;
    var desktop_NumOfUser = 305;

    {#&#123;&#35;//app address&#35;&#125;#}
    {#var ajaxUrlContents = "{{ path('pomegranate_content_backend_article_index') }}";#}
    {#var ajaxUrlLinks = "{{ path('pomegranate_link_backend_index') }}";#}
    {#var ajaxUrlProf = "{{ path('professor_profile_backend_home') }}";#}
    {#var ajaxUrlComments = "{{ path('pomegranate_contact_backend_index') }}";#}
    {#var ajaxUrlPlea = "../apps/com-plea.html";#}
    {#var ajaxUrlRolesSetting = "../apps/com-rolesSetting.html";#}
    {#var ajaxUrlUserPermations = "../apps/com-userPermations.html";#}


</script>
{#----------------------/PrivateScripts----------------------#}
{% endblock scripts %}
</body>
</html>