{% extends "AnarBlogPanelBundle:Desktop:index.html.twig" %}

{% block csses %}

{% endblock %}

{% block Container %}
<div class="col-md-11 col-sm-11 margin-left-45 tab_content_box margin-top-25 margin-bottom-25">
    <div class="row">
        <div class="col-md-6 col-sm-6 pull-right tittle_tab_content">
            <i class="fa fa-list-alt"></i>
            <span>لیست مقالات</span>
        </div>
        <div class="col-md-1 col-sm-1 pull-left text-left">
            <i onclick="location.href = '{{ path("anar_blog_panel_home") }}'" class="glyphicon glyphicon-remove cursor_pointer" style="cursor: pointer"></i>
        </div>
    </div>
    <hr id="cutter">
    <div class="row">
        {% for message in app.session.getFlashBag().get('info') %}
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-success alert-dismissable">
                    {{ message|trans }}
                    <i class="glyphicon glyphicon-remove cursor_pointer pull-left" data-dismiss="alert"></i>
                </div>
            </div>
        {% endfor %}
        {% for message in app.session.getFlashBag().get('errors') %}
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-danger alert-dismissable">
                    {{ message|trans }}
                    <i class="glyphicon glyphicon-remove cursor_pointer pull-left" data-dismiss="alert"></i>
                </div>
            </div>
        {% endfor %}
        {% for message in app.session.getFlashBag().get('warning') %}
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-warning alert-dismissable">
                    {{ message|trans }}
                    <i class="glyphicon glyphicon-remove cursor_pointer pull-left" data-dismiss="alert"></i>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-12 col-sm-12 margin-top-10">
            <table class="records_list">
                <tr class="text-center">
                    <td>{{ knp_pagination_sortable(articles, 'id'|trans , 'a.id') }}</td>
                    <td>{{ 'image'|trans }}</td>
                    <td>{{ knp_pagination_sortable(articles, 'title'|trans , 'a.title') }}</td>
                    <td>{{ knp_pagination_sortable(articles, 'visit'|trans , 'a.visit') }}</td>
                    <td>{{ knp_pagination_sortable(articles, 'enabled'|trans , 'a.enabled') }}</td>
                    <td>{{ knp_pagination_sortable(articles, 'publication.start.date'|trans , 'a.publicationStartDate') }}</td>
                    <td>{{ knp_pagination_sortable(articles, 'publication.end.date'|trans , 'a.publicationEndDate') }}</td>
                    <td>{{ knp_pagination_sortable(articles, 'created.at'|trans , 'a.createdAt') }}</td>
                    <td>{{ knp_pagination_sortable(articles, 'updated.at'|trans , 'a.updatedAt') }}</td>
                    <td class="col-md-2 col-sm-2"></td>
                </tr>
                {% set i = 0 %}
                {% for article in articles %}
                    <tr data-id="{{ article.id }}" class="text-center {% if i % 2 == 0 %}t1{% else %}t2{% endif %}">
                        <td>{{ app.request.attributes.get('page') * loop.index }}</td>
                        <td>{% if vich_uploader_asset(article,'imageFile')|length > 0 %}<img style="width: 50px;height: 50px" src="{{ vich_uploader_asset(article,'imageFile') }}">{% endif %}</td>
                        {% if address_type == 'domain' %}
                            {% set c_path = 'anar_content_frontend_article_show' %}
                        {% else %}
                            {% set c_path = 'anar_content_frontend_article_show_path' %}
                        {% endif %}
                        <td><a href="{{ path(c_path, {'blogName': blog.name, 'slug': article.slug}) }}" target="_blank">{{ article.title[0:20] }}</a></td>
                        {#<td>{{ article.slug }}</td>#}
                        <td>{{ article.visit }}</td>
                        <td><i class="{% if article.enabled %}fa fa-check{% else %}fa fa-times{% endif %}"></i></td>
                        <td class="{% if article.publicationStartDate %}date{% endif %} peDate" data-time="{% if article.publicationStartDate %}{{ article.publicationStartDate|date('U') }}{% endif %}"></td>
                        <td class="{% if article.publicationEndDate %}date{% endif %} psDate" data-time="{% if article.publicationEndDate %}{{ article.publicationEndDate|date('U') }}{% endif %}"></td>
                        <td class="date time createdAt" data-time="{% if article.createdAt %}{{ article.createdAt|date('U') }}{% else %}0{% endif %}"></td>
                        <td class="date time updatedAt" data-time="{% if article.updatedAt %}{{ article.updatedAt|date('U') }}{% else %}0{% endif %}"></td>
                        <td>
                            <button data-id="{{ article.id }}" style="padding: 5px" class="R_butt_green edit_article btn">ویرایش</button>
                            <button data-id="{{ article.id }}" style="padding: 5px" class="R_butt_red delete_article btn">حذف</button>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            </table>
        </div>
        <div class="col-md-12 col-sm-12 text-center">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('static/persian-date/dist/0.1.8/persian-date-0.1.8.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.date').each(function(index, item) {
                if ($(item).hasClass('time')) {
                    var format = "HH:mm YY/MM/DD";
                } else {
                    var format = "YY/MM/DD";
                }
                $(item).text(persianDate.unix($(item).data('time')).format(format));
            });
        });

        $('.current_ancestor').removeClass('minus').addClass('open');
        $('.current_ancestor .menu-items i').attr('class','fa fa-minus-square-o');
        $('.delete_article').click(function(){
            var id = $(this).attr('data-id');
            var path = Routing.generate('anar_content_backend_article_delete',{ 'id': id });
            $.ajax({
                url: path,
                type: "post",
                data: {
                    token: '{{ token }}'
                },
                success: function(data){
                    Alert.render('حذف با موفقیت انجام شد!');
                    $('tr[data-id='+ id +']').remove();
                },
                error: function(data){
                    Alert.render(data.status['message']);
                }
            });
        });

        $('.edit_article').click(function(){
            var id = $(this).attr('data-id');
            var path = Routing.generate('anar_content_backend_article_edit',{ 'id': id });
            location.href = path;
        });
    </script>

{% endblock scripts %}
