{% extends "AnarSuperPanelBundle:Desktop:home.html.twig" %}
{% block csses %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/super_panel.css') }}">
{% endblock csses %}

{% block container %}
<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 tab_content_box margin-top-25 margin-bottom-25">
    <div class="row">
        <div class="col-md-6 col-sm-6 tittle_tab_content">
            <i class="fa fa-setting"></i>
            <span>تغییر رمز عبور</span>
        </div>
        <div class="col-md-1 col-sm-1 pull-left text-left">
            <i onclick="location.href = '{{ path("anar_super_panel_home") }}'" class="glyphicon glyphicon-remove cursor_pointer" style="cursor: pointer"></i>
        </div>
    </div>
    <hr id="cutter">
    <div class="row">
        <div class="col-md-12 col-sm-12 margin-top-10">
            {{ form_start(form, {'attr': {'class': 'form-horizontal change_pass_form', 'role': 'form'}}) }}
            <div class="form-group">
                <label class="col-sm-2 control-label">رمز عبور فعلی</label>
                <div class="col-sm-4">
                    {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">رمز عبور جدید</label>
                <div class="col-sm-4">
                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">تکرار رمز عبور</label>
                <div class="col-sm-4">
                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-9 col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-submit-blog', 'onclick': 'submit_change_pass_form(event)'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
    <h3>تغییر رمز عبور</h3>


{% endblock %}


{% block scripts %}
{{ parent() }}
<script>
    function submit_change_pass_form(ev){
        ev.preventDefault();
        $.ajax({
            url: Routing.generate('anar_super_panel_setting_update_password'),
            type: "post",
            data: $('.change_pass_form').serialize(),
            error: function(message){
                Alert.render("message : " + JSON.parse(message.responseText).status.message);
            },
            success: function(data){
                Alert.render(data.status['message']);
            }
        });
    }
</script>
{% endblock %}