{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list ({{ users.getTotalItemCount }})</h1>
    {{ form(form) }}
    <table class="records_list">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(users, 'ای دی', 'u.id') }}</th>
            <th{% if users.isSorted('u.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(users, 'username', 'u.username') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.fname }}</td>
                <td>{{ user.lname }}</td>
                <td>{{ user.staffCode }}</td>
                <td>{{ user.grade.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('anar_super_panel_user_edit', { 'id': user.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('anar_super_panel_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {{ knp_pagination_render(users) }}
    {% endblock %}
