{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list ({{ users.getTotalItemCount }})</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fname</th>
                <th>Lname</th>
                <th>Faname</th>
                <th>Staffcode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('anar_super_panel_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.fname }}</td>
                <td>{{ user.lname }}</td>
                <td>{{ user.faname }}</td>
                <td>{{ user.staffCode }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('anar_super_panel_user_show', { 'id': user.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('anar_super_panel_user_edit', { 'id': user.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('anar_super_panel_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {{ knp_pagination_render(users) }}
    {% endblock %}
