{% extends "AnarSuperPanelBundle:Desktop:home.html.twig" %}

{% block csses %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/super_panel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/bootstrap-switch-metro-rtl.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/select2_metro_rtl.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/plugins/Alert/alert.css') }}">
    <style>
        .select{
            width: 100%;
        }

        .select2-arrow b{
            background-position: 5px 4px !important;
        }
        .required:after{
            content: '*';
        }

        .form_title{
            font-size: 1.2em;
        }
    </style>
{% endblock csses %}

{% block top_fixed_superpanel_box %}
    <div id="sp-topBar">
        <span>{{ 'last login:' }}<time dir="ltr"></time></span>
        <a class="btn btn-xs btn-danger" href="">{{ 'logout'|trans }}</a>
    </div>
    <div id="sp-headerWrap">
        <div id="sp-logo"></div>
    </div>
    <div id="sp-tabBar">
        <div id="sp-label">
            <h1>Super Panel</h1>
            <h2>Pomegranate notification system</h2>
        </div>
        <span id="sp-firstSpan"></span>
        <span onclick="location.href = '{{ path("anar_super_panel_blog_index") }}'" data-URL="ajaxUrlRoles"><i class="fa fa-sitemap"></i><br>{{ 'blogs'|trans }}</span>
        <span onclick="location.href = '{{ path("anar_super_panel_user_index") }}'" data-URL="ajaxUrlUsers" data-active="true"><i class="fa fa-users"></i><br>{{ 'users'|trans }}</span>
        <span data-URL="ajaxUrlPermations"><i class="fa fa-paperclip"></i><br>{{ 'permission'|trans }}</span>
        <span data-URL="ajaxUrlsetttings"><i class="fa fa-gears"></i><br>{{ 'settings'|trans }}</span>
        <span id="sp-lastSpan"></span>
    </div>

{% endblock top_fixed_superpanel_box %}

{% block container %}

{#{% for message in app.session.getFlashBag().get('errors') %}#}
    {#{{ message|trans }}#}
{#{% endfor %}#}

{#{% for message in app.session.getFlashBag().get('warning') %}#}
    {#{{ message|trans }}#}
{#{% endfor %}#}
<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 tab_content_box margin-top-25 margin-bottom-25">
    <div class="row">
        <div class="col-md-6 col-sm-6 tittle_tab_content">
            <i class="fa fa-users"></i>
            <span>مدیریت  کاربران</span>
        </div>
        <div class="col-md-1 col-sm-1 pull-left text-left">
            <i onclick="location.href = '{{ path("anar_super_panel_home") }}'" class="glyphicon glyphicon-remove cursor_pointer" style="cursor: pointer"></i>
        </div>
    </div>
    <hr id="cutter">
    <div class="row">
        <div class="col-md-12 col-sm-12 margin-top-10">
            <button type="button" class="btn-primary-costum" onclick="location.href = '{{ path("anar_super_panel_user_new") }}'">
                <i class="fa fa-plus"></i> ایجاد کاربر جدید
            </button>
        </div>
        <div class="col-md-12 col-sm-12 margin-top-10">
            <div class="form_container">
                <p class="form_title">جستجوی کاربر</p>
                <hr id="cutter">
                <div class="row">
                    <div class="col-md-8 col-sm-8 margin-top-10">
                        {{ form_start(form, { 'attr': {'class': 'search_form'}}) }}
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 control-label text-left">نام کاربری</label>
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(form.username,{ 'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 control-label text-left">ایمیل</label>
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(form.email,{ 'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 control-label text-left">نام</label>
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(form.fname,{ 'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 control-label text-left">نام خانوادگی</label>
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(form.lname,{ 'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 control-label text-left">شماره پرسنلی</label>
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(form.staffCode,{ 'attr' : {'class':'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 control-label text-left">مدرک</label>
                                <div class="col-md-9 col-sm-9">
                                    {{ form_widget(form.grade,{ 'attr' : {'class':'select'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 control-label text-left">فعال</label>
                                <div class="col-md-9 col-sm-9">
                                    <div class="make-switch">
                                        {{ form_widget(form.enabled,{ 'attr' : {'class':'toggle'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 control-label text-left">منقضی شده</label>
                                <div class="col-md-9 col-sm-9">
                                    <div class="make-switch">
                                        {{ form_widget(form.expired,{ 'attr' : {'class':'toggle'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-md-2 col-sm-2"></div>
                            <div class="col-md-9 col-sm-9">
                                {{ form_widget(form.Search, {'attr': {'class': 'btn btn-submit-blog', 'onclick': 'submit_search_form(event)'}}) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 margin-top-20">
            <div class="row">
                <p class="text-center">لیست کاربران <span class="user_total_count">({{ users.getTotalItemCount }})</span> </p>
            </div>
            <table class="records_list">
                <tr>
                    {# sorting of properties based on query components #}
                    {#<td>{{ knp_pagination_sortable(users, 'ای دی', 'u.id') }}</td>#}
                    <td{% if users.isSorted('u.username') %} class="sorted col-md-2 col-sm-2"{% endif %}>{{ knp_pagination_sortable(users, 'نام کاربری', 'u.username') }}</td>
                    <td{% if users.isSorted('u.email') %} class="sorted col-md-2 col-sm-2"{% endif %}>{{ knp_pagination_sortable(users, 'ایمیل', 'u.email') }}</td>
                    <td{% if users.isSorted('u.fname') %} class="sorted col-md-1 col-sm-1"{% endif %}>{{ knp_pagination_sortable(users, 'نام', 'u.fname') }}</td>
                    <td{% if users.isSorted('u.lname') %} class="sorted col-md-2 col-sm-2"{% endif %}>{{ knp_pagination_sortable(users, 'نام خانوادگی', 'u.lname') }}</td>
                    <td{% if users.isSorted('u.staffcode') %} class="sorted col-md-2 col-sm-2"{% endif %}>{{ knp_pagination_sortable(users, 'شماره پرسنلی', 'u.staffcode') }}</td>
                    <td class="col-md-1 col-sm-1">فعال</td>
                    <td class="col-md-2 col-sm-2"></td>
                </tr>
                {% set i = 1 %}
                {% for user in users %}
                    <tr data-id="{{ user.id }}" {% if i % 2 == 0 %} class="t2 users_data" {% else %} class="t1 users_data" {% endif %}>
                        <td class="col-md-2 col-sm-2">{{ user.username }}</td>
                        <td class="col-md-2 col-sm-2">{{ user.email }}</td>
                        <td class="col-md-1 col-sm-1">{{ user.fname }}</td>
                        <td class="col-md-2 col-sm-2">{{ user.lname }}</td>
                        <td class="col-md-2 col-sm-2">{{ user.staffCode }}</td>
                        <td class="col-md-1 col-sm-1 {% if user.enabled %}active{% endif %}">{{ user.enabled }}</td>
                        <td class="col-md-2 col-sm-2">
                            <span class="R_butt_green" onclick="location.href = '{{ path('anar_super_panel_user_edit', { 'id': user.id }) }}'">ویرایش</span>
                            <span class="R_butt_red delete_user" data-id="{{ user.id }}">حذف</span>
                        </td>
                    </tr>
                {% set i = i + 1 %}
                {% endfor %}
            </table>

        </div>
        <div class="col-md-12 col-sm-12 users_pagination_parent text-center">
            <div class="users_pagination">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{{ asset('bundles/anarsuperpanel/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('bundles/anarsuperpanel/js/select2.min.js') }}"></script>
<script src="{{ asset('bundles/anarsuperpanel/plugins/Alert/alert.js') }}"></script>
<script>
    var message = 111;
    {% for message in app.session.getFlashBag().get('info') %}
        message = '{{ message|trans }}';
    {% endfor %}
    alert(message);
    $(".select").select2({
        placeholder: "انتخاب کنید"
    });

    function submit_search_form(event){
        event.preventDefault();
        $.ajax({
            url: "{{ path('anar_super_panel_user_search') }}",
            type: "post",
            data: $('.search_form').serialize(),
            error: function(message){
                Alert.render("message : "+message);
            },
            success: function(data){
                if(data.status['code'] == 200){
                    $('.users_data').remove();
                    $('.users_pagination').remove();
                    var users_find = '' +
                        '<tr class="t1">' +
                            '<td class="col-md-2 col-sm-2">' + data.response['users']['username'] + '</td>' +
                            '<td class="col-md-2 col-sm-2">' + data.response['users']['email'] + '</td>' +
                            '<td class="col-md-1 col-sm-1">' + data.response['users']['fname'] + '</td>' +
                            '<td class="col-md-2 col-sm-2">' + data.response['users']['lname'] + '</td>' +
                            '<td class="col-md-2 col-sm-2">' + data.response['users']['staffCode'] + '</td>' +
                            '<td class="col-md-1 col-sm-1 ">' + data.response['users']['grade'] + '</td>' +
                            '<td class="col-md-2 col-sm-2">' +
                                '<span class="R_butt_green" onclick="">ویرایش</span>' +
                            '</td>' +
                        '</tr>';
                    alert(users_find);
                    $('.records_list').append(users_find);
                    Alert.render("aaa" + JSON.stringify(data.response['users']['username']));
                }
                else{
                    Alert.render(data.status['code']);
                    Alert.render(data.status['message']);
                }
            }
        });
    }

    $('.delete_user').click(function(){
        var user_id = $(this).attr('data-id');
        var check_path = "{{ path('anar_super_panel_user_delete', { 'id': "__id__" }) }}";
        var delete_path = check_path.replace("__id__", user_id);
        $.ajax({
            url: delete_path,
            type: "post",
            data:{
                "token": '{{ token }}'
            },
            error: function(message){
                Alert.render("message : "+message.status['message']);
            },
            success: function(data){
                Alert.render('کاربر با موفقیت حذف شد!');
                $('tr[data-id=' + user_id + ']').remove();
            }
        });
    });
</script>
{% endblock %}