{% extends "AnarSuperPanelBundle:Desktop:home.html.twig" %}

{% block csses %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/super_panel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/bootstrap-switch-metro-rtl.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/select2_metro_rtl.css') }}">
    <style>
        .select{
            width: 100%;
        }

        .select2-arrow b{
            background-position: 5px 4px !important;
        }

        #super_panel_user_registraton_submit{
            display: none;
        }
        .required:after{
            content: '*';
        }
    </style>
{% endblock csses %}

{% block container %}
<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 tab_content_box margin-top-25 margin-bottom-25">
    <div class="row">
        <div class="col-md-6 col-sm-6 tittle_tab_content">
            <i class="fa fa-sitemap"></i>
            <span>افزودن کاربر</span>
        </div>
        <div class="col-md-1 col-sm-1 pull-left text-left">
            <i onclick="location.href = '{{ path("anar_super_panel_home") }}'" class="glyphicon glyphicon-remove cursor_pointer" style="cursor: pointer"></i>
        </div>
    </div>
    <hr id="cutter">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            {{ form_start(form) }}
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label text-left">{{ form_label(form.email) }}</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.email,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label text-left">{{ form_label(form.username) }}</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.username,{ 'attr' : {'class':'form-control username_input','onblur':'check_name()'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label text-left">{{ form_label(form.plainPassword.first) }}</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.plainPassword.first,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label text-left">{{ form_label(form.plainPassword.second) }}</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.plainPassword.second,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label text-left">{{ form_label(form.fname) }}</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.fname,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label text-left">{{ form_label(form.lname) }}</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.lname,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label text-left">{{ form_label(form.faname) }}</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.faname,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label text-left">{{ form_label(form.staffCode) }}</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.staffCode,{ 'attr' : {'class':'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label text-left">{{ form_label(form.grade) }}</label>
                    <div class="col-md-9 col-sm-9">
                        {{ form_widget(form.grade,{ 'attr' : {'class':'select'} }) }}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-9 col-sm-9">
                    <button type="submit" class="btn btn-submit-blog">ذخیره</button>
                    <a class="btn btn-submit-blog" href="{{ path('anar_super_panel_user_index') }}">بازگشت</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4 col-sm-4" style="padding-right: 0">
            <div class="row" style="min-height: 38px">
                <span class=""></span>
            </div>
            <div class="row margin-top-10 form_fields_message" style="min-height: 38px">
                <span class=""></span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class=""></span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class=""></span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class=""></span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class=""></span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class=""></span>
            </div>
            <div class="row margin-top-10" style="min-height: 38px">
                <span class=""></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ asset('bundles/anarsuperpanel/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('bundles/anarsuperpanel/js/select2.min.js') }}"></script>
<script>
    $(".select").select2({
        placeholder: "انتخاب کنید"
    });

    function check_name(){
        var name_val = $('.username_input').val();
        var checkPath = Routing.generate('anar_super_panel_user_check_username',{'username': name_val});
        $.ajax({
            url: checkPath,
            error: function(jqXHR, textStatus, errorThrown){
                alert((jqXHR['responseText']).status.message);
                $('.form_fields_message span').addClass('_error');
                $('.form_fields_message span').html(JSON.parse(jqXHR['responseText']).status.message);
            },
            success: function(data){
                $('.form_fields_message span').addClass('_success');
                $('.form_fields_message span').html(data.status['message']);
            }
        })
    }
</script>
{% endblock %}
