{% extends "AnarBlogPanelBundle:Desktop:index.html.twig" %}

{% block csses %}

{% endblock %}

{% block Container %}
<div class="col-md-11 col-sm-11 margin-left-45 tab_content_box margin-top-25 margin-bottom-25">
    <div class="row">
        <div class="col-md-6 col-sm-6 pull-right tittle_tab_content">
            <i class="fa fa-list-alt"></i>
            <span>لیست گروه ها</span>
        </div>
        <div class="col-md-1 col-sm-1 pull-left text-left">
            <i onclick="location.href = '{{ path("anar_blog_panel_home") }}'" class="glyphicon glyphicon-remove cursor_pointer" style="cursor: pointer"></i>
        </div>
    </div>
    <hr id="cutter">
    <div class="row">
        {% for message in app.session.getFlashBag().get('info') %}
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-success alert-dismissable">
                    {{ message|trans }}
                    <i class="glyphicon glyphicon-remove cursor_pointer pull-left" data-dismiss="alert"></i>
                </div>
            </div>
        {% endfor %}
        {% for message in app.session.getFlashBag().get('errors') %}
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-danger alert-dismissable">
                    {{ message|trans }}
                    <i class="glyphicon glyphicon-remove cursor_pointer pull-left" data-dismiss="alert"></i>
                </div>
            </div>
        {% endfor %}
        {% for message in app.session.getFlashBag().get('warning') %}
            <div class="col-md-12 col-sm-12">
                <div class="alert alert-warning alert-dismissable">
                    {{ message|trans }}
                    <i class="glyphicon glyphicon-remove cursor_pointer pull-left" data-dismiss="alert"></i>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-12 col-sm-12 margin-top-10">
            <table class="records_list">
                <tr class="text-center">
                    <td>{{ 'id'|trans }}</td>
                    <td>{{ 'name'|trans }}</td>
                    <td>{{ 'default'|trans }}</td>
                    <td style="width: 30%"></td>
                </tr>

                {% set i = 0 %}
                {% for group in groups %}
                    <tr data-id="{{ group.id }}" class="text-center {% if i % 2 == 0 %}t1{% else %}t2{% endif %}">
                        <td>{{ loop.index }}</td>
                        <td>{{ group.name }}</td>
                        <td><i class="{% if group.default %}fa fa-check{% else %}fa fa-times{% endif %}"></i></td>
                        <td>
                            <button data-id="{{ group.id }}" style="padding: 5px" class="R_butt_blue add_member_group btn">افزودن عضو</button>
                            <button data-id="{{ group.id }}" style="padding: 5px" class="R_butt_green edit_group btn">ویرایش</button>
                            <button data-id="{{ group.id }}" style="padding: 5px" class="R_butt_red delete_group btn">حذف</button>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock Container %}

{% block scripts %}
    <script>
        $('.current_ancestor').removeClass('minus').addClass('open');
        $('.current_ancestor .menu-items i').attr('class','fa fa-minus-square-o');
        $('.delete_group').click(function(){
            var id = $(this).attr('data-id');
            var path = Routing.generate('anar_blog_panel_group_delete',{ 'groupId': id });
            $.ajax({
                url: path,
                type: "post",
                data: {
                    token: '{{ token }}'
                },
                success: function(data){
                    Alert.render('حذف با موفقیت انجام شد!');
                    $('tr[data-id='+ id +']').remove();
                },
                error: function(data){
                    Alert.render(JSON.parse(data.responseText).status.message);
                }
            });
        });

        $('.edit_group').click(function(){
            var id = $(this).attr('data-id');
            var path = Routing.generate('anar_blog_panel_group_edit',{ 'groupId': id });
            location.href = path;
        });
        $('.add_member_group').click(function(){
            var id = $(this).attr('data-id');
            var path = Routing.generate('anar_blog_panel_group_user',{ 'groupId': id });
            location.href = path;
        });
    </script>
{% endblock %}